# Dirs
**/__pycache__/
**/__sapper__/

**/.DS_STORE/
**/.artifacts/
**/.docker/data/
**/.idea/
**/.svelte-kit/
**/.vscode/

**/build/
**/debug/
**/dist/
**/env/
**/node_modules/
**/target/
**/venv/

# Extensions
**/*.bk
**/*.bk.*

**/config.*
**/*.config.*

!**/default.config.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.env
**/*.env.*

**/!*.env.example

**/*.jpeg
**/*.jpeg.*

**/*.jpg
**/*.jpg.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.png
**/*.png.*

**/*.svg
**/*.svg.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*
!/.gitignore
