/**/config/local.*
/**/config/secret.*

*.env
*.env.*
!.env.example

/**/__pycache__/
/**/__sapper__/

/**/.DS_STORE/
/**/.idea/
/**/.vscode/

/**/build/
/**/debug/
/**/dist/
/**/docker/data/
/**/node_modules/
/**/target/
/**/venv/

*.bk
*.bk.*

*.db
*.db.*

*.egg
*.egg.*

*.exe
*.exe.*

*.gz
*.gz.*

*.lock
*.lock.*
*-lock.*

*.log
*.log.*

*.tar
*.tar.*

*.whl
*.whl.*

*.zip
*.zip.*